h1 {
    font-size: 40px;
    color:rgb(16, 20, 235);
}

.body_background {
    text-align: center;
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
}

#myCanvas {
    border-width: 10px;
    background-color:violet;
    border-style: ridge;
}